<!--

  _       _  _                  __  _  _
 | |     (_)| |                / _|| |(_)
 | |      _ | |__   _ __  ___ | |_ | | _ __  __
 | |     | || '_ \ | '__|/ _ \|  _|| || |\ \/ /
 | |____ | || |_) || |  |  __/| |  | || | >  <
 |______||_||_.__/ |_|   \___||_|  |_||_|/_/\_\

 Hey, friend. Check out the source-code at notabug.org/libreflix

 -->

<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
    <meta charset="utf-8">
    <title>{% block title %}{{ SITENAME }}{% endblock %}</title>
    <link rel="icon" type="image/png" href="/images/libre-icon.png" />
    <meta name="description" content="">
    <meta name="author" content="{{ AUTHOR }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
    <script src="{{ SITEURL }}/theme/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link href="{{ SITEURL }}/theme/bootstrap.min.css" rel="stylesheet">
    <link href="{{ SITEURL }}/theme/bootstrap.min.responsive.css" rel="stylesheet">
    <link href="{{ SITEURL }}/theme/local.css" rel="stylesheet">
    <link href="{{ SITEURL }}/theme/pygments.css" rel="stylesheet">


    <!-- So Firefox can bookmark->"abo this site" -->
    {% if FEED_ALL_ATOM %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" rel="alternate" title="{{ SITENAME }}" type="application/atom+xml">
    {% endif %}
    {% if FEED_ATOM %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ATOM }}" rel="alternate" title="{{ SITENAME }}" type="application/atom+xml">
    {% endif %}
    {% if FEED_RSS %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}" rel="alternate" title="{{ SITENAME }}" type="application/rss+xml">
    {% endif %}
    {% if FEED_ALL_RSS %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" rel="alternate" title="{{ SITENAME }}" type="application/rss+xml">
    {% endif %}

</head>

<body>

<div class="navbar">
    <div class="navbar-inner">
    <div class="container">

         <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
         </a>		        

		<a href="/">
		  <img src="/images/libreflix-blog.png" class="logo">
        </a>

        <div class="nav-collapse">
        <ul class="nav">
        {% for title, link in MENUITEMS %}
            <li><a href="{{ link }}">{{ title }}</a></li>
        {% endfor %}
            
        {% if DISPLAY_PAGES_ON_MENU %}
        {% for page in pages %}
            <li><a href="{{ SITEURL }}/{{ page.url }}">{{ page.title }}</a></li>
        {% endfor %}
        {% endif %}
        </ul>
        </div>
        
    </div>
    </div>
</div>

<div class="container">
    <div class="content">
    <div class="row">

        <div class="span9">
        {% block content %}{% endblock %}
        </div>
        
        <div class="span3">

            <div class="well" style="padding: 8px 0; background-color: #FBFBFB;">
            <ul class="nav nav-list">
                <li class="nav-header"> 
                Site
                </li>
            
                <li><a href="{{ SITEURL }}/archives.html">Arquivo</a>
                <li><a href="{{ SITEURL }}/tags.html">Tags</a>



                {% if FEED_ALL_ATOM %}
                <li><a href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" rel="alternate">Atom feed</a></li>
                {% endif %}
                {% if FEED_ATOM %}
                <li><a href="{{ FEED_DOMAIN }}/{{ FEED_ATOM }}" rel="alternate">Atom feed</a></li>
                {% endif %}
                {% if FEED_RSS %}
                <li><a href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}" rel="alternate">RSS feed</a></li>
                {% endif %}
                {% if FEED_ALL_RSS %}
                <li><a href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" rel="alternate">RSS feed</a></li>
                {% endif %}

            </ul>
            </div>


            {% if categories %}
            <div class="well" style="padding: 8px 0; background-color: #FBFBFB;">
            <ul class="nav nav-list">
                <li class="nav-header"> 
                Categorias
                </li>
                
                {% for cat, null in categories %}
                <li><a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a></li>
                {% endfor %}                   
            </ul>
            </div>
            {% endif %}


            {% if LINKS %}
            <div class="well" style="padding: 8px 0; background-color: #FBFBFB;">
            <ul class="nav nav-list">
                <li class="nav-header"> 
                Links
                </li>
            
            {% for name, link in LINKS %}
                <li><a href="{{ link }}">{{ name }}</a></li>
            {% endfor %}
            </ul>
            </div>
            {% endif %}


            {% if SOCIAL %}
            <div class="social">
            <div class="well" style="padding: 8px 0; background-color: #FBFBFB;">
            <ul class="nav nav-list">
                <li class="nav-header"> 
                Social
                </li>
           
                {% for name, link in SOCIAL %}
                <li><a href="{{ link }}" target="_blank">{{ name }}</a></li>
                {% endfor %}
            </ul>
            </div>
            </div>
            {% endif %}

        </div> {# End span3 #} 
    </div> {# End row #}
    </div> {# End content #}
</div> <!-- /container -->

<hr>

<div class="container">
	<div class="content">
		<div class="row-fluid">

			<footer>
			<br />
			{% if articles %}
			   {% set copy_date = articles[0].date.strftime('%Y') %}
			{% else %}
			   {% set copy_date = '' %}
			{% endif %}



			<div class="span2 logo-footer">
				<img src="/images/libreflix-logo.png" width="150px">
				<br>
				<a href="https://libreflix.org">Libreflix</a> | <a href="https://libreflix.org/apps">Apps</a> | <a href="/">Blog</a> 
			</div>

			<div class="span6">
				<div class="about-footer">
					Libreflix é uma plataforma de streaming aberta e colaborativa que reúne produções audiovisuais independentes, provocativas e de livre exibição.
				</div>
			</div>

			<!--<div class="span2 links-footer">
				<b>Blog</b>
				<br>
				Posts
				<br>
				Na Mídia
				<br>
			</div>

			<div class="span2 links-footer">
				<b>Libreflix</b>
			</div>-->
		</div><!-- row footer-->
	</div><!-- content footer-->

</div><!-- Container footer-->

<br><br>
</footer>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script src="{{ SITEURL }}/theme/bootstrap-collapse.js"></script>
<script type="text/javascript" charset="utf-8">
    // Creating custom :external selector
    $.expr[':'].external = function(obj) {
      return !obj.href.match(/^mailto\:/) &&
        (obj.hostname != location.hostname);
    };

    $(function() {
      // Add 'external' CSS class to all external links
      $('a:external').addClass('external');

      // turn target into target=_blank for elements w external class
      $(".external").attr('target', '_blank');

    });

    $(document).ready(function() {
      $('.container').fadeIn();
    });
</script>
{% include "analytics.html" %}
{% include "github.html" %} 
</body>
</html>
